@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
html {
  font-size: 62.5%;
  font-family: "Lato", sans-serif;
  scroll-behavior: smooth;
  /* Track */
  /* Handle */
  /* Handle on hover */
  /* GRID */
  /**

  @include responsive(1400px) {}
  @include responsive(1200px) {}
  @include responsive(992px) {}
  @include responsive(730px) {}
  @include responsive(600px) {}

  **/
}
html ::selection {
  color: black;
  background: black;
}
html::-webkit-scrollbar {
  width: 0.5rem;
}
html::-webkit-scrollbar-track {
  background: white;
}
html::-webkit-scrollbar-thumb {
  background: transparent linear-gradient(222deg, #f26522 0%, #f20732 100%) 0% 0% no-repeat padding-box;
}
html::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background: #f20732;
}
html * {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  list-style: none;
  outline: none;
  text-decoration: none;
  font-size: 1.6rem;
}
html .hide {
  display: none;
}
html body.overflow {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
html body.overflow div[fluid],
html body.overflow section {
  padding-right: 2rem;
}
html a {
  color: unset;
}
html img {
  max-width: 100%;
  display: block;
}
html button {
  background-color: transparent;
  cursor: pointer;
}
html ul,
html ol {
  margin: 0;
}
html section,
html div[fluid] {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
html section .niv,
html div[fluid] .niv {
  width: 100%;
  max-width: 1164px;
  margin: 0 auto;
  padding: 0 15px;
}
html [niv-follow] {
  transition: 0.32s;
}
@media (max-width: 600px) {
  html {
    font-size: 52%;
  }
}

@keyframes upandown {
  0% {
    transform: translateY(0);
  }
  33% {
    transform: translateY(1rem);
  }
  66% {
    transform: translateY(-1rem);
  }
  100% {
    transform: translateY(0rem);
  }
}
@keyframes svganimation {
  0% {
    transform: translateY(4rem);
  }
  80% {
    transform: translateY(4rem);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes smooth {
  0% {
    transform: translateY(-2rem) scale(1);
  }
  50% {
    transform: translateY(0rem) scale(1.05);
  }
  100% {
    transform: translateY(-2rem) scale(1);
  }
}
@keyframes logoanimation {
  0% {
    transform: translateY(-4rem);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes plusanimation {
  0% {
    transform: translateX(4rem);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes typing {
  0% {
    max-width: 0;
  }
  50% {
    max-width: 120%;
  }
  100% {
    max-width: 0;
  }
}
@keyframes zigzag {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(0.5rem);
  }
  100% {
    transform: translateX(-0.5rem);
  }
}
h1,
h1 span {
  color: white;
  font-size: 6rem;
  letter-spacing: -0.12rem;
  font-family: "Montserrat";
  font-weight: bold;
  line-height: 7.6rem;
}
h1 span,
h1 span span {
  color: transparent;
  -webkit-text-stroke: 0.05rem white;
}

h2 {
  font-size: 6.8rem;
  font-family: "Montserrat";
  font-weight: 800;
  color: #333333;
}

h3 {
  font-size: 2.4rem;
  font-family: "Montserrat";
  font-weight: 400;
  color: #056cf2;
}

h4 {
  color: red;
}

p {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-family: "Lato";
  color: #8d8d8d;
}

.backdrop {
  background: #056cf2;
  top: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  pointer-events: none;
  z-index: 5;
  transition: 4s cubic-bezier(0.5, 0, 0, 1);
  transition-delay: 0s;
}
.backdrop[hide] {
  top: 200vh;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  z-index: 6;
  transition: 0.3s;
  /**

  @include responsive(1400px) {}
  @include responsive(1200px) {}
  @include responsive(992px) {}
  @include responsive(730px) {}
  @include responsive(600px) {}

  **/
  /**

  @include responsive(1400px) {}
  @include responsive(1200px) {}
  @include responsive(992px) {}
  @include responsive(730px) {}
  @include responsive(600px) {}

  **/
  /**

  @include responsive(1400px) {}
  @include responsive(1200px) {}
  @include responsive(992px) {}
  @include responsive(730px) {}
  @include responsive(600px) {}

  **/
}
header._hi {
  top: -100rem;
}
header[starting] {
  background: transparent;
}
header[starting] div[fluid] div.niv nav ul,
header[starting] div[fluid] div.niv div,
header[starting] div[fluid] div.niv .mobile {
  position: relative;
  top: -30rem;
}
header[starting] div[fluid] div.niv .logo svg path,
header[starting] div[fluid] div.niv .logo svg rect {
  fill: white;
  stroke: transparent;
}
header div[fluid] {
  padding-top: 1.7rem;
  padding-bottom: 1.7rem;
  position: relative;
  z-index: 6;
}
header div[fluid].--menu {
  height: 100vh;
  width: 100vw;
  background: white;
  position: fixed;
  top: 0;
  right: -200vw;
  z-index: 4;
  transition: 0.32s;
}
header div[fluid].--menu[active] {
  right: 0;
}
header div[fluid].--menu div.niv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: relative;
}
header div[fluid].--menu div.niv nav,
header div[fluid].--menu div.niv div,
header div[fluid].--menu div.niv ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
header div[fluid] div.niv {
  max-width: 1681px !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
header div[fluid] div.niv .mobile {
  display: none;
  height: 4.2rem;
  width: 4.2rem;
  position: relative;
  background: url(/assets/img/icon_hamburguer_header.svg);
  transition: 0.32s;
  background-size: 100% 100%;
}
header div[fluid] div.niv .mobile:active {
  transform: scale(0);
}
header div[fluid] div.niv .mobile[active] {
  background: url(/assets/img/icon_close_header.svg);
  background-size: 100% 100%;
}
header div[fluid] div.niv nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 9.9rem;
}
header div[fluid] div.niv nav .logo {
  animation: logoanimation 1s ease-in;
}
header div[fluid] div.niv nav .logo svg {
  overflow: hidden;
}
header div[fluid] div.niv nav .logo svg path,
header div[fluid] div.niv nav .logo svg rect {
  transition: 0.32s;
}
header div[fluid] div.niv nav .logo svg #escrita {
  animation: svganimation 1.3s ease-out;
}
header div[fluid] div.niv nav .logo svg #plus {
  animation: plusanimation 1.3s ease-out;
}
header div[fluid] div.niv nav ul {
  top: 0;
  position: relative;
  transition: 0.32s;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 7.4rem;
}
header div[fluid] div.niv nav ul li {
  color: #aaaaaa;
  position: relative;
  font-size: 1.6rem;
  user-select: none;
  font-family: "Roboto";
  transition: 0.32s;
}
header div[fluid] div.niv nav ul li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.6rem;
  transition: 0.32s;
  width: 0;
  height: 3px;
  background-image: url(/assets/img/effect_balls_header.svg);
}
header div[fluid] div.niv nav ul li[active] {
  color: #f26522;
  font-weight: bold;
}
header div[fluid] div.niv nav ul li[active]::after {
  width: 4.8rem;
}
header div[fluid] div.niv nav ul li:hover {
  color: #f26522;
}
header div[fluid] div.niv nav ul li:hover::after {
  width: 4.8rem;
}
header div[fluid] div.niv div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  width: 46.2rem;
  gap: 6.2rem;
  position: relative;
  transition: 0.32s;
  top: 0;
}
header div[fluid] div.niv div a {
  transition: 0.32s;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 0.9rem;
  color: #056cf2;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 1.8rem;
}
header div[fluid] div.niv div a:hover {
  opacity: 0.7;
}
header div[fluid] div.niv div button {
  height: 6rem;
  width: 100%;
  max-width: 23rem;
  box-shadow: 0px 10px 16px #0000004a;
  background: transparent linear-gradient(222deg, #f26522 0%, #f20732 100%) 0% 0% no-repeat padding-box;
  color: white;
  font-weight: bold;
  font-family: "Montserrat";
  font-size: 1.8rem;
  border-radius: 3rem 0;
  transition: 0.32s ease-in;
}
header div[fluid] div.niv div button:hover {
  border-radius: 0 3rem;
  box-shadow: 10px 0px 16px #0000004a;
  transform: scale(1.05);
}
@media (max-width: 1280px) {
  header div[fluid]:not(.--menu) div.niv nav ul li:not([active]) {
    display: none;
  }
}
@media (max-width: 800px) {
  header div[fluid]:not(.--menu) div.niv nav {
    gap: 3rem;
  }
  header div[fluid]:not(.--menu) div.niv div {
    gap: 3rem;
  }
}
@media (max-width: 600px) {
  header div[fluid]:not(.--menu) div.niv .mobile {
    display: block;
  }
  header div[fluid]:not(.--menu) div.niv nav ul,
header div[fluid]:not(.--menu) div.niv div {
    display: none;
  }
}

section.hero {
  background: url("/assets/img/fundo_hero.png");
  background-position: top right;
  background-repeat: no-repeat;
  padding-top: 9.5rem;
  min-height: 95.5rem;
  overflow: hidden;
  /**

  @include responsive(1400px) {}
  @include responsive(1200px) {}
  @include responsive(992px) {}
  @include responsive(730px) {}
  @include responsive(600px) {}

  **/
  /**

  @include responsive(1400px) {}
  @include responsive(1200px) {}
  @include responsive(992px) {}
  @include responsive(730px) {}
  @include responsive(600px) {}

  **/
  /**

  @include responsive(1400px) {}
  @include responsive(1200px) {}
  @include responsive(992px) {}
  @include responsive(730px) {}
  @include responsive(600px) {}

  **/
}
section.hero div.niv {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
}
section.hero div.niv div.niv-text {
  max-width: 59.3rem;
}
section.hero div.niv div.niv-text h1 {
  margin-bottom: 2.5rem;
  margin-top: 14.5rem;
  position: relative;
  transition: 1s;
  transition-delay: 1s;
}
section.hero div.niv div.niv-text h1[niv-fade] {
  opacity: 0;
  transform: scale(0) rotate(90deg);
}
section.hero div.niv div.niv-text h1::after {
  content: "";
  height: 11px;
  width: 100%;
  max-width: 164px;
  background: url("/assets/img/effect_balls_hero.svg");
  position: absolute;
  top: -4.7rem;
  left: 0;
}
section.hero div.niv div.niv-text p {
  transition: 1s;
  transition-delay: 3.7s;
  margin-top: 2.5rem;
  color: white;
  font-size: 2.4rem;
  line-height: 3.6rem;
  margin-bottom: 4.5rem;
  font-family: "Roboto";
  max-width: 55.2rem;
}
section.hero div.niv div.niv-text p[niv-fade] {
  opacity: 0;
  transform: translateY(4rem);
}
section.hero div.niv div.niv-text button {
  height: 7rem;
  width: 100%;
  max-width: 27.2rem;
  border-radius: 3rem 0;
  box-shadow: 0px 10px 16px #0000004a;
  background: transparent linear-gradient(222deg, #f26522 0%, #f20732 100%) 0% 0% no-repeat padding-box;
  color: white;
  font-size: 2.4rem;
  font-family: "Montserrat";
  font-weight: bold;
  transition: 0.32s ease-in-out;
}
section.hero div.niv div.niv-text button:hover {
  border-radius: 0 3rem;
  transform: scale(1.05);
}
section.hero div.niv div.niv-text a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 1.2rem;
  margin-top: 4.8rem;
  animation: upandown 8s linear infinite;
}
section.hero div.niv div.niv-text a span {
  font-size: 1.6rem;
  color: white;
  font-family: "Montserrat";
  font-weight: bold;
}
section.hero div.niv div.niv-picture {
  height: 66.6rem;
  width: 85.3rem;
  position: relative;
}
section.hero div.niv div.niv-picture div.floating img {
  position: absolute;
}
section.hero div.niv div.niv-picture div.floating img:first-child {
  left: 18.3rem;
  top: 17.3rem;
  transition: 0.4s;
}
section.hero div.niv div.niv-picture div.floating img:nth-child(2) {
  left: 27.7rem;
  top: 21.9rem;
  transition: 0.6s;
}
section.hero div.niv div.niv-picture div.floating img:nth-child(3) {
  left: 18.3rem;
  top: 29.2rem;
}
section.hero div.niv div.niv-picture picture {
  transition: 1.5s;
  transition-delay: 1s;
  position: absolute;
  height: 66.6rem;
  width: 85.3rem;
  display: block;
  right: -19rem;
  top: 19.4rem;
}
section.hero div.niv div.niv-picture picture[niv-fade] {
  opacity: 0;
  transform: translateX(-200px);
}
section.hero div.niv div.niv-picture picture::after {
  content: "";
  position: absolute;
  top: -6.9rem;
  left: 74.5rem;
  height: 10.2rem;
  width: 100%;
  max-width: 17.1rem;
  background: url("/assets/img/effect_balls_net_hero.svg");
}
@media (max-width: 1280px) {
  section.hero div.niv div.niv-picture .floating {
    position: relative;
    left: -10rem;
  }
  section.hero div.niv div.niv-picture picture {
    left: -40rem;
  }
}
@media (max-width: 800px) {
  section.hero {
    background-size: cover;
  }
  section.hero div.niv div.niv-text {
    z-index: 2;
  }
  section.hero div.niv div.niv-text h1 span {
    display: block;
  }
  section.hero div.niv div.niv-picture {
    z-index: 1;
  }
  section.hero div.niv div.niv-picture .floating {
    left: -5rem;
  }
}
@media (max-width: 600px) {
  section.hero div.niv div.niv-picture {
    display: none;
  }
}

section.quem-somos {
  overflow: hidden;
  padding-bottom: 11.2rem;
  /**

  @include responsive(1400px) {}
  @include responsive(1200px) {}
  @include responsive(992px) {}
  @include responsive(730px) {}
  @include responsive(600px) {}

  **/
  /**

  @include responsive(1400px) {}
  @include responsive(1200px) {}
  @include responsive(992px) {}
  @include responsive(730px) {}
  @include responsive(600px) {}

  **/
}
section.quem-somos div.niv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
section.quem-somos div.niv div.niv-text {
  max-width: 55.2rem;
}
section.quem-somos div.niv div.niv-text h2 {
  margin-top: 0.8rem;
  max-width: 40.5rem;
  margin-bottom: 3.7rem;
}
section.quem-somos div.niv div.niv-picture {
  transition: 1s;
  transition-delay: 0;
}
section.quem-somos div.niv div.niv-picture[niv-fade] {
  opacity: 0;
  transform: translateX(-200px);
}
section.quem-somos div.niv div.niv-picture .floating {
  position: absolute;
}
section.quem-somos div.niv div.niv-picture .floating img:first-child {
  position: relative;
  left: -21.5rem;
}
section.quem-somos div.niv div.niv-picture .floating img:nth-child(2) {
  position: relative;
  right: -27rem;
  top: -5.9rem;
}
section.quem-somos div.niv div.niv-picture .floating img:last-child {
  position: relative;
  left: 2.9rem;
  top: 19.1rem;
}
section.quem-somos div.niv div.niv-picture picture {
  width: 85.4rem;
  height: 69.6rem;
  display: block;
  margin-left: -30.7rem;
}
@media (max-width: 800px) {
  section.quem-somos {
    padding-top: 2rem;
  }
  section.quem-somos div.niv {
    flex-direction: column-reverse;
  }
}
@media (max-width: 600px) {
  section.quem-somos {
    padding-top: 6rem;
  }
  section.quem-somos div.niv {
    position: relative;
  }
  section.quem-somos div.niv div.niv-picture .floating {
    top: 0;
    z-index: -1;
    opacity: 0.5;
  }
}

section.missao {
  background: url(/assets/img/fundo_missao.svg);
  /**

  @include responsive(1400px) {}
  @include responsive(1200px) {}
  @include responsive(992px) {}
  @include responsive(730px) {}
  @include responsive(600px) {}

  **/
  /**

  @include responsive(1400px) {}
  @include responsive(1200px) {}
  @include responsive(992px) {}
  @include responsive(730px) {}
  @include responsive(600px) {}

  **/
}
section.missao div.niv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
section.missao div.niv div.niv-nav {
  max-width: 22.3rem;
}
section.missao div.niv div.niv-nav ul {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 11.2rem;
}
section.missao div.niv div.niv-nav ul li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 3rem;
  opacity: 0.5;
  cursor: pointer;
}
section.missao div.niv div.niv-nav ul li span {
  color: white;
  font-family: "Montserrat";
  font-size: 2.4rem;
  font-weight: bold;
}
section.missao div.niv div.niv-nav ul li span,
section.missao div.niv div.niv-nav ul li img {
  z-index: 2;
}
section.missao div.niv div.niv-nav ul li::after {
  position: absolute;
  height: 17.8rem;
  width: 100%;
  max-width: 67.9rem;
  z-index: 1;
  content: "";
  left: 0;
  transition: 0.32s;
}
section.missao div.niv div.niv-nav ul li[active] {
  opacity: 1;
}
section.missao div.niv div.niv-nav ul li[active]::after {
  background: #00000015;
}
section.missao div.niv div.niv-nav ul li:hover::after {
  background: #ffffff15;
}
section.missao div.niv div.niv-text {
  position: relative;
  height: 75.3rem;
  width: 32.4rem;
}
section.missao div.niv div.niv-text h2,
section.missao div.niv div.niv-text p {
  color: white;
}
section.missao div.niv div.niv-text p {
  margin-top: 2.4rem;
}
section.missao div.niv div.niv-text span {
  position: absolute;
  display: block;
  transition: 0.32s;
  top: 20rem;
  opacity: 0;
  pointer-events: none;
}
section.missao div.niv div.niv-text span[active] {
  pointer-events: all;
  opacity: 1;
  top: 7.7rem;
}
section.missao div.niv div.niv-picture {
  position: relative;
  height: 75.3rem;
  width: 45.5rem;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
section.missao div.niv div.niv-picture::after {
  content: "";
  position: absolute;
  pointer-events: none;
  width: 100%;
  height: 100%;
  background: transparent linear-gradient(180deg, #056cf200 0%, #033679 100%) 0% 0% no-repeat padding-box;
  left: 0;
  top: 0;
}
section.missao div.niv div.niv-picture picture {
  position: absolute;
  transition: 0.32s;
  top: 20rem;
  opacity: 0;
  pointer-events: none;
  display: block;
}
section.missao div.niv div.niv-picture picture[active] {
  pointer-events: all;
  opacity: 1;
  top: 0;
}
section.missao div.niv div.niv-picture .floating {
  position: absolute;
  bottom: -10rem;
  z-index: 2;
  animation: upandown 4s linear infinite;
}
@media (max-width: 900px) {
  section.missao div.niv div.niv-picture {
    position: absolute;
    right: 0;
    z-index: 2;
  }
  section.missao div.niv div.niv-picture picture[active] {
    opacity: 0.7;
  }
  section.missao div.niv div.niv-text {
    z-index: 3;
  }
  section.missao div.niv div.niv-nav {
    z-index: 1;
  }
  section.missao div.niv div.floating {
    z-index: 3;
  }
}
@media (max-width: 600px) {
  section.missao {
    padding-top: 3rem;
    background-size: cover;
  }
  section.missao div.niv {
    flex-direction: column;
    position: relative;
    gap: 1rem;
  }
  section.missao div.niv div.niv-nav {
    max-width: unset;
    width: 100%;
    z-index: 3;
  }
  section.missao div.niv div.niv-nav ul {
    width: 100%;
    gap: 3rem;
  }
  section.missao div.niv div.niv-nav ul li {
    gap: 1rem;
  }
  section.missao div.niv div.niv-nav ul li span {
    font-size: 2rem;
  }
  section.missao div.niv div.niv-nav ul li::after {
    display: none;
  }
  section.missao div.niv div.niv-picture {
    display: none;
  }
  section.missao div.niv div.niv-text {
    width: 100%;
    max-width: 100%;
    height: 60rem;
  }
}

section.planos {
  padding-top: 10.8rem;
  padding-bottom: 8.7rem;
  background: #eaeffa;
  position: relative;
  /**

  @include responsive(1400px) {}
  @include responsive(1200px) {}
  @include responsive(992px) {}
  @include responsive(730px) {}
  @include responsive(600px) {}

  **/
  /**

  @include responsive(1400px) {}
  @include responsive(1200px) {}
  @include responsive(992px) {}
  @include responsive(730px) {}
  @include responsive(600px) {}

  **/
}
section.planos div.niv div.niv-title {
  text-align: center;
  margin-bottom: 5.3rem;
  position: relative;
  z-index: 2;
}
section.planos div.niv div.niv-title h3 {
  display: block;
  transition: 1s;
  transition-delay: 0;
}
section.planos div.niv div.niv-title h3[niv-fade] {
  opacity: 0;
  transform: scale(0) rotate(20deg);
}
section.planos div.niv div.niv-title h2 {
  display: block;
  transition: 1s;
  transition-delay: 0.5s;
}
section.planos div.niv div.niv-title h2[niv-fade] {
  opacity: 0;
  transform: scale(0) rotate(20deg);
}
section.planos div.niv div.niv-boxes {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 3rem;
  flex-wrap: wrap;
  position: relative;
  z-index: 2;
}
section.planos div.niv div.niv-boxes div.box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  transition: 0.32s;
  transition-delay: 0;
  transform-style: preserve-3d;
  height: 36.8rem;
  width: 35.8rem;
  box-shadow: 0px 16px 24px #c3c8d3;
  background-color: white;
  border-radius: 2.9rem;
  padding: 4.2rem 3.2rem 5.4rem 3.8rem;
  text-align: center;
}
section.planos div.niv div.niv-boxes div.box[niv-fade] {
  opacity: 0;
  transform: rotateY(180deg);
}
section.planos div.niv div.niv-boxes div.box h3 {
  margin-bottom: 2.7rem;
}
section.planos div.niv div.niv-boxes div.box h2 {
  font-size: 4rem;
  margin-bottom: 0.3rem;
}
section.planos div.niv div.niv-boxes div.box div.price {
  font-size: 9.3rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #333333;
  margin-bottom: 0.9rem;
  line-height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: row;
  gap: 0.3rem;
}
section.planos div.niv div.niv-boxes div.box div.price small {
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  color: #333333;
  font-size: 5.2rem;
  line-height: 130%;
}
section.planos div.niv div.niv-boxes div.box a {
  margin-top: 0.9rem;
  height: 7rem;
  width: 100%;
  box-shadow: 0px 10px 16px #0000004a;
  background: transparent linear-gradient(222deg, #f26522 0%, #f20732 100%) 0% 0% no-repeat padding-box;
  color: white;
  font-weight: bold;
  font-family: "Montserrat";
  font-size: 2.4rem;
  display: block;
  border-radius: 3rem 0;
  transition: 0.32s ease-in;
  line-height: 7rem;
}
section.planos div.niv div.niv-boxes div.box a:hover {
  border-radius: 0 3rem;
  box-shadow: 10px 0px 16px #0000004a;
  transform: scale(1.05);
}
section.planos div.niv div.niv-boxes div.box:hover {
  cursor: pointer;
  transform: scale(1.05);
}
section.planos div.niv::after {
  height: 60.6rem;
  width: 39.3rem;
  content: "";
  position: absolute;
  top: -9.1rem;
  left: 0;
  animation: smooth infinite linear 6s 1s;
  z-index: 1;
  background: url(/assets/img/cubes_top_planos.png);
}
section.planos div.niv::before {
  height: 60.6rem;
  width: 39.3rem;
  content: "";
  position: absolute;
  bottom: 8.7rem;
  right: 0;
  animation: smooth infinite linear 6s;
  transform-origin: right;
  z-index: 1;
  background: url(/assets/img/cubes_bottom_planos.png);
}
@media (max-width: 1150px) {
  section.planos div.niv div.niv-boxes {
    justify-content: center;
  }
  section.planos div.niv::after {
    opacity: 0.4;
  }
}
@media (max-width: 600px) {
  section.planos div.niv div.niv-title h2 {
    font-size: 3.5rem;
  }
}

section.celular {
  padding-top: 10.7rem;
  padding-bottom: 13.2rem;
  background: url("/assets/img/fundo_celular.png");
  background-repeat: no-repeat;
  background-position: center;
  /**

  @include responsive(1400px) {}
  @include responsive(1200px) {}
  @include responsive(992px) {}
  @include responsive(730px) {}
  @include responsive(600px) {}

  **/
  /**

  @include responsive(1400px) {}
  @include responsive(1200px) {}
  @include responsive(992px) {}
  @include responsive(730px) {}
  @include responsive(600px) {}

  **/
}
section.celular div.niv {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
}
section.celular div.niv .floating {
  position: absolute;
  top: -5rem;
  left: 0;
}
section.celular div.niv div.niv-text {
  max-width: 42.9rem;
  margin-top: 20rem;
}
section.celular div.niv div.niv-text p {
  color: white;
  margin-bottom: 7.5rem;
}
section.celular div.niv div.niv-text h2 {
  font-size: 4.2rem;
  line-height: 6.3rem;
  margin-bottom: 4.8arem;
  color: white;
  transition: 1s;
  transition-delay: 0;
}
section.celular div.niv div.niv-text h2[niv-fade] {
  opacity: 0;
  transform: scale(0) rotate(20deg);
}
section.celular div.niv div.niv-text a {
  display: block;
  width: max-content;
  transition: 0.32s;
}
section.celular div.niv div.niv-text a:hover {
  opacity: 0.7;
}
section.celular div.niv div.niv-phone {
  margin-right: 9.7rem;
}
section.celular div.niv div.niv-phone picture {
  display: block;
  transition: 1s;
  transition-delay: 0.5s;
  transform-style: preserve-3d;
}
section.celular div.niv div.niv-phone picture[niv-fade] {
  opacity: 0;
  transform: rotateY(180deg);
}
@media (max-width: 800px) {
  section.celular div.niv div.niv-phone {
    margin: 0;
  }
}
@media (max-width: 800px) {
  section.celular {
    background-size: cover;
    padding-bottom: 4rem;
  }
  section.celular div.niv {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }
  section.celular div.niv div.niv-text {
    margin-top: 3rem;
  }
  section.celular div.niv div.niv-text a {
    margin: 0 auto;
  }
}

section.lojas {
  position: relative;
  padding-bottom: 15rem;
  overflow: hidden;
  /**

  @include responsive(1400px) {}
  @include responsive(1200px) {}
  @include responsive(992px) {}
  @include responsive(730px) {}
  @include responsive(600px) {}

  **/
  /**

  @include responsive(1400px) {}
  @include responsive(1200px) {}
  @include responsive(992px) {}
  @include responsive(730px) {}
  @include responsive(600px) {}

  **/
}
section.lojas div.niv {
  padding-top: 9.6rem;
}
section.lojas div.niv div.niv-text {
  position: relative;
  max-width: 36rem;
  z-index: 2;
  transition: 1s;
  transition-delay: 0;
  position: relative;
}
section.lojas div.niv div.niv-text[niv-fade] {
  opacity: 0;
  transform: translateX(-20rem);
}
section.lojas div.niv div.niv-text h2 {
  font-size: 4.2rem;
  margin-bottom: 2.1rem;
  margin-top: 0.3rem;
}
section.lojas div.niv div.niv-text::after {
  height: 7.8rem;
  width: 13.1rem;
  position: absolute;
  content: "";
  background: url(/assets/img/effect_balls_lojas.svg);
  background-size: cover;
  left: -16.8rem;
  top: 0.5rem;
}
section.lojas div.niv div.niv-text p {
  color: #8d8d8d;
}
section.lojas div.niv div.niv-mapa {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
section.lojas div.niv div.niv-enderecos {
  position: relative;
  z-index: 2;
  width: 100%;
  margin-top: 15.4rem;
}
section.lojas div.niv div.niv-enderecos div.scroll {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
section.lojas div.niv div.niv-enderecos div.scroll div.box {
  height: 15.2rem;
  width: 35.1rem;
  background-color: white;
  box-shadow: 0px 6px 11px #00000029;
  border-radius: 1.2rem;
  padding: 1.5rem 0 0 1.14rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 2.1rem;
  transition: 1s;
  transition-delay: 0;
}
section.lojas div.niv div.niv-enderecos div.scroll div.box[niv-fade] {
  opacity: 0;
  transform: translateY(20rem);
}
section.lojas div.niv div.niv-enderecos div.scroll div.box:nth-child(1) {
  transition-delay: 0.5s;
}
section.lojas div.niv div.niv-enderecos div.scroll div.box:nth-child(2) {
  transition-delay: 1s;
}
section.lojas div.niv div.niv-enderecos div.scroll div.box:nth-child(3) {
  transition-delay: 1.5s;
}
section.lojas div.niv div.niv-enderecos div.scroll div.box main {
  max-width: 22.8rem;
}
section.lojas div.niv div.niv-enderecos div.scroll div.box main strong {
  display: block;
  font-size: 2.4rem;
  font-family: "Lato";
  font-weight: bold;
  margin-bottom: 0.8rem;
}
@media (max-width: 1280px) {
  section.lojas div.niv {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
  }
  section.lojas div.niv div.niv-text {
    margin-left: 20rem;
  }
  section.lojas div.niv div.niv-mapa {
    display: none;
  }
  section.lojas div.niv div.niv-enderecos {
    margin-right: 10rem;
    margin-top: 0;
    width: max-content;
  }
  section.lojas div.niv div.niv-enderecos div.scroll {
    flex-direction: column;
    gap: 2rem;
  }
}
@media (max-width: 800px) {
  section.lojas div.niv {
    flex-direction: column;
    gap: 3rem;
  }
  section.lojas div.niv div.niv-enderecos {
    overflow: scroll;
    width: 100vw;
    padding: 5rem;
    scroll-snap-type: x mandatory;
  }
  section.lojas div.niv div.niv-enderecos::-webkit-scrollbar {
    display: none;
  }
  section.lojas div.niv div.niv-enderecos div.scroll {
    flex-direction: row;
    width: max-content;
    gap: 0;
  }
  section.lojas div.niv div.niv-enderecos div.scroll div.box {
    margin-left: 4rem;
    scroll-snap-align: start;
  }
}

section.contato {
  padding-top: 9.7rem;
  padding-bottom: 9.2rem;
  position: relative;
  background: url("/assets/img/fundo_contato.png");
  background-position: center;
}
section.contato div.niv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
section.contato div.niv div.floating {
  position: absolute;
  top: -5rem;
  z-index: 2;
  animation: upandown 7s linear infinite;
}
section.contato div.niv div.niv-title {
  text-align: center;
}
section.contato div.niv div.niv-title h3 {
  color: #f26522;
  margin-bottom: 0.3rem;
}
section.contato div.niv div.niv-title h2 {
  color: white;
  font-size: 4.2rem;
  margin-bottom: 1.6remrem;
}
section.contato div.niv div.niv-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 55.2rem;
  width: 100%;
}
section.contato div.niv div.niv-form form {
  width: 100%;
}
section.contato div.niv div.niv-form label {
  width: 100%;
  display: block;
  transition: 0.6s;
  transition-delay: 0;
}
section.contato div.niv div.niv-form label[niv-fade] {
  opacity: 0;
  transform: translateY(20rem) scale(0);
}
section.contato div.niv div.niv-form label:nth-child(1) {
  transition-delay: 0.5s;
}
section.contato div.niv div.niv-form label:nth-child(2) {
  transition-delay: 1s;
}
section.contato div.niv div.niv-form label:nth-child(3) {
  transition-delay: 1.5s;
}
section.contato div.niv div.niv-form label:nth-child(4) {
  transition-delay: 2s;
}
section.contato div.niv div.niv-form label input,
section.contato div.niv div.niv-form label textarea {
  margin-top: 1.6rem;
  background-color: white;
  border-radius: 0.8rem;
  font-size: 1.6rem;
  color: #333333;
  font-family: "Roboto";
  width: 100%;
  padding-left: 2.2rem;
}
section.contato div.niv div.niv-form label input {
  height: 6rem;
}
section.contato div.niv div.niv-form label textarea {
  height: 16.3rem;
  padding-top: 1.6rem;
}
section.contato div.niv div.niv-form button {
  height: 6rem;
  width: 100%;
  max-width: 23rem;
  margin: 0 auto;
  display: block;
  margin-top: 1.6rem;
  box-shadow: 0px 10px 16px #0000004a;
  background: transparent linear-gradient(222deg, #f26522 0%, #f20732 100%) 0% 0% no-repeat padding-box;
  color: white;
  font-weight: bold;
  font-family: "Montserrat";
  font-size: 1.8rem;
  border-radius: 3rem 0;
  transition: 0.32s ease-in;
}
section.contato div.niv div.niv-form button:hover {
  border-radius: 0 3rem;
  box-shadow: 10px 0px 16px #0000004a;
  transform: scale(1.05);
}

footer {
  /**

  @include responsive(1400px) {}
  @include responsive(1200px) {}
  @include responsive(992px) {}
  @include responsive(730px) {}
  @include responsive(600px) {}

  **/
}
footer div[fluid] {
  padding-top: 6rem;
  background-color: #07038c;
}
footer div[fluid] div.niv div.niv-top {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: row;
}
footer div[fluid] div.niv div.niv-top ul {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: row;
  width: 57.1rem;
}
footer div[fluid] div.niv div.niv-top ul li {
  transition: 0.32s;
  color: white;
  font-size: 1.6rem;
  font-family: "Roboto";
}
footer div[fluid] div.niv div.niv-top ul li:hover {
  color: #f26522;
  font-weight: bold;
  opacity: 0.7;
}
footer div[fluid] div.niv div.niv-top div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row-reverse;
  gap: 0.9rem;
}
footer div[fluid] div.niv div.niv-top div a {
  transition: 0.32s;
}
footer div[fluid] div.niv div.niv-top div a:hover {
  opacity: 0.7;
  transform: scale(1.05);
}
footer div[fluid] div.niv div.niv-copyright {
  border-top: solid #b4acdc 0.1rem;
  padding-top: 2rem;
  padding-bottom: 4rem;
  margin-top: 4.8rem;
}
footer div[fluid] div.niv div.niv-copyright ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
footer div[fluid] div.niv div.niv-copyright ul li {
  color: white;
  opacity: 0.7;
  font-family: "Roboto";
  font-size: 1.6rem;
  cursor: pointer;
}
footer div[fluid] div.niv div.niv-copyright ul li:hover {
  opacity: 1;
}
@media (max-width: 800px) {
  footer div[fluid] div.niv div.niv-top,
footer div[fluid] div.niv div.niv-top ul,
footer div[fluid] div.niv div.niv-copyright ul {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: 3rem;
  }
}

/*# sourceMappingURL=style.css.map */
