.backdrop {
    background: $main-blue;
    top: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    pointer-events: none;
    z-index: 5;
    transition: 4s cubic-bezier(0.5, 0, 0, 1);
    transition-delay: 0s;

    &[hide] {
        top: 200vh;
    }
}
