@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

html {
  font-size: 62.5%;
  font-family: "Lato", sans-serif;
  scroll-behavior: smooth;

  ::selection {
    color: $white;
    background: $main-blue;
  }

  &::-webkit-scrollbar {
    width: 0.5rem;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: $white;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $main-gradient;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
    background: $main-red;
  }

  * {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    list-style: none;
    outline: none;
    text-decoration: none;

    font-size: 1.6rem;
  }

  .hide {
    display: none;
  }

  body.overflow {
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    div[fluid],
    section {
      padding-right: 2rem;
    }
  }

  a {
    color: unset;
  }

  img {
    max-width: 100%;
    display: block;
  }

  button {
    background-color: transparent;
    cursor: pointer;
  }

  ul,
  ol {
    margin: 0;
  }

  /* GRID */

  section,
  div[fluid] {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    .niv {
      width: 100%;
      max-width: calc(1134px + 30px);
      margin: 0 auto;
      padding: 0 15px;
    }
  }

  [niv-follow] {
    transition: 0.32s;
  }

  @include responsive(600px) {
    font-size: 52%;
  }
}

// NIV
// BACKDROP
// Z-INDEX 666
// ESTRUTURAÇÃO
