$main-blue: #056cf2;
$dark-blue: #07038c;
$light-blue: #eaeffa;
$lighest-blue: #b4acdc;

$main-orange: #f26522;
$main-red: #f20732;

$black: black;
$white: white;
$dark-grey: #333333;
$grey: #aaaaaa;
$light-grey: #8d8d8d;

$main-gradient: transparent linear-gradient(222deg, #f26522 0%, #f20732 100%) 0% 0% no-repeat padding-box;
